<br>
<div class="h1c">Nords Invade Swadia</div>
<div class="h2c">King summons all banners to defend the nation</div>
<div class="fp">
    <p style="font-size: 17px;">The Nords have invaded Swadia and His Royal Highness has summoned all his forces to
        defend the nation and repel
        the invaders. Reports are coming in that huge armies are making their way through the pass at Jelbegi.
        Meanwhile, hundreds of refugees have been making the arduous trip to safety following attacks on local villages.
    </p>
    <p style="font-size: 17px;">The King has called for all available units to assist.</p>
    <p><span style="font-size: 17px;">That's where you come in....</span></p>
</div>
<hr>
<div class="container">
    <div class="iframe-container">
        <iframe width="600" height="415" src="https://www.youtube.com/embed/wYFTVQytWHc" title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen></iframe>
    </div>
</div>
<hr>
<div class="fp">
    <p style="font-size: 17px;">NordInvasion is a mod for the popular TaleWorlds game, Mount &amp; Blade: Warband and it
        sees you take up arms
        with players from around the world in a bid to fight off wave after wave of the Nord armies as they seek to
        destroy Swadia.</p>
    <p style="font-size: 17px;">With a huge environment of maps and persistent characters, NordInvasion is one of the
        largest and most popular
        mods available for Warband and continues to grow with an active team of developers regularly adding content and
        features.</p>
    <p style="font-size: 17px;">Some of the biggest features for NordInvasion include:</p>
</div>

<ul id="i_features">
    <li>Persistent characters that update in real-time.</li>
    <li>Over 30 brand new maps to explore featuring multiple locations and weather conditions.</li>
    <li>In-depth class and skill systems allowing you to create characters best suited to your play style.</li>
    <li>Unlimited characters per account.</li>
    <li>Quests to complete for rare rewards &amp; the King's favour.</li>
    <li>Detailed crafting system with multiple career paths.</li>
    <li>Great cooperative battles to defend the realm of Swadia.</li>
    <li>Houses enable clans to band together for Swadia whilst proving they are the supreme house.</li>
    <li>Don't like the current defenses? Build your own with deployable barricades.</li>
    <li>Huge tournaments featuring individual tests, one on one challenges and huge house battles.</li>
    <li>And so much more including explosives, health kits, Gods, cavalry...</li>
</ul>