<h2 style="font-size: 36px;">About</h2>
<p style="font-size: 22px ;">Calradia has been at war for many centuries, and the once mighty Swadian empire has finally
    been defeated. The
    invading Nords have smashed their way through the realm decimating the Swadian armies in their way.</p>
<p style="font-size: 22px ;">You represent one of the last hopes for a dieing nation, as part of Operation: Swadian
    Phoenix it is your job to
    fight back against the Nords and stop them from permanently eliminating Swadia from the map.</p>