<div class="container text-center">
    <header
        class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
        <div class="col-md-3 mb-2 mb-md-0">
            <a href="/" class="d-inline-flex link-body-emphasis text-decoration-none">
                <svg class="bi" width="40" height="32" role="img" aria-label="Bootstrap">
                    <use xlink:href="\src\assets\new_banner.png" />
                </svg>
            </a>
        </div>

        <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
            <li class="nav-item"><a href="/" class="nav-link px-2">Home</a></li>
            <li class="nav-item"><a href="about" class="nav-link px-2">About</a></li>
            <li class="nav-item"><a href="https://nordinvasion.com/download.php" class="nav-link px-2">Download</a></li>
            <li class="nav-item"><a href="https://forum.nordinvasion.com" class="nav-link px-2">Forums</a></li>
            <li class="nav-item"><a href="https://wiki.nordinvasion.com/doku.php" class="nav-link px-2">Wiki</a></li>
            <li class="nav-item"><a href="https://discord.com/invite/0xBnQJiW2hHWT6x9" class="nav-link px-2">Get
                    Support</a></li>
            <li class="nav-item"><a href="https://nordinvasion.com/donate.php" class="nav-link px-2">Donate</a></li>

        </ul>
        <div>
            <app-login-page-button></app-login-page-button>
        </div>
    </header>
</div>